/* @import url("./box.css"); */


/* 가상클래스 선택자1 */
/* .box {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: 1s;
}

.box:hover {
  width: 300px;
  background-color: royalblue;
}

.box:active {
  width: 300px;
  background-color: royalblue;
}

/* div태그는 focus가능한 클래스가 아니기 때문에 focus를 줄수 없다 */
/* .box:focus {
  width: 300px;
  background-color: royalblue;
}

.focus-test {
  background-color: red;
}

.focus-test:focus {
  background-color: orange;
}  */


/* 가상요소 클래스 */
/* .box {
  width: 100px;
  height: 100px;
  background-color: orange;
}

.box::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: royalblue;
  display: block;
}

.box::after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: royalblue;
  display: block;
} */


/* 속성 선택자 */

/* [type] {
  background-color: orange;
}

[type="text"] {
  background-color: red;
}

[data-name-fruit] {
  color: royalblue;
} */


/* 스타일 상속 */
/* .parent {
  width: 300px;
  height: 400px;
  background-color: orange;
}

.child {
  width: 100px;
  height: inherit;
  background-color: inherit;
  position: fixed;
  top: 100px;
  right: 10px;
} */

/* 선택자 우선순위 */
/* div {
  font-size: 70px;
} */

/* #hello {
  color: blue;
} */

/* div.hello {
  color: red;
}

.hello {
  color: green !important;
} */


 /* 문자 */
 /* a {
  display: block;
  width: 200px;
  height: 100px;
  background-color: orange;
  color: white;
  text-decoration: none;
 
  text-align: center; /* 문자를 좌우에서 가운데 정렬 */
  /*line-height: 100px;
 }  */

 /* 배경 */
/*
 body {
  height: 3000px;
 }
 div {
  width: 300px;
  height: 200px;
  background-color: royalblue;
  background-image: url("https://heropy.blog/css/images/logo.png");
  요소의 배경으로 출력할때는 이미지 삽입시 크기가 맞지 않는다면 반복적으로 나온다 
  background-size: cover; px 하나만 입력하게 되면 가로에 맞춰서 세로 사이즈를 자동으로 계산한다
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
 }
 */



 /* 배치 */
 /* .container {
  width: 300px;
  background-color: royalblue;
  position: relative;
 }

 .container .item {
  border: 4px dashed red;
  background-color: orange;
 }

 .container .item:nth-child(1) {
  width: 100px;
  height: 100px;
 }

 .container .item:nth-child(2) {
  width: 140px;
  height: 70px;
  position: absolute;
  bottom: 30px;
  right: 60px;
 }

 .container .item:nth-child(3) {
  width: 70px;
  height: 120px;
 } */


 /* 플렉스(정렬) */
 /* .container {
  width: 500px;
  height: 500px;
  background-color: royalblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
 }

 .container .item {
  width: 100px;
  height: 100px;
  border: 3px dashed red;
  background-color: orange;
  flex-grow: 1;
  flex-basis: 0;
 }

 .container .item:nth-child(3) {
  flex-grow: 2;
 } */

 /* 전환 */

 /* div {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: 
    width .5s,
    background-color 2s;
    transition: 1s .5s;
 }

 div:hover {
  width: 300px;
  background-color: royalblue;
 } */

 /* 변환 */
 body {
  padding: 100px;
 }

 .container {
   width: 100px;
   height: 100px;
   background-color: royalblue;
}

.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
}