/* @import url("./box.css"); */


/* 가상클래스 선택자1 */
.box {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: 1s;
}

.box:hover {
  width: 300px;
  background-color: royalblue;
}

.box:active {
  width: 300px;
  background-color: royalblue;
}

/* div태그는 focus가능한 클래스가 아니기 때문에 focus를 줄수 없다 */
.box:focus {
  width: 300px;
  background-color: royalblue;
}

.focus-test {
  background-color: red;
}

.focus-test:focus {
  background-color: orange;
}
