/* COMMON */
body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}
img {
  /* 여기서 block으로 변경하는 이유는 img요소는 기본적으로 inline요소 이기 때문에 baseline을 가지고 잇다. 그렇기 때문에 아래 부분에 남는 부분이 생기기 때문이다. */
  display: block;
}
a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}
header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
header .logo {
  /* position을 통해 가운데 정렬하는 방법이다, 위에 inner 방법과 차이점은 현재 logo가 inline요소이기 때문에 absolute를 통해 block으로 바꾸기 위함이다. */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  /* a태그가 인라인 요소인데 높이 값을 줄수잇는 이유는 position속성에 의해 이제 logo가 더이상 인라인 요소가 아니고 블록 요소이기 떄문이다. */
  height: 75px;
}

header .sub-menu {
  display: flex;
  position: absolute;
  right: 0;
  top: 10px;
}
header .sub-menu ul.menu {
  display: flex;
  font-family: Arial, sans-serif;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  /* 사용자가 좀더 클릭하기 쉽게 하기 위해 블럭 요소로 바꾸는것이다. */
  padding: 11px 16px;
  font-size: 12px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  transition: width .4s;
  font-size: 12px;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5px;
  transition: .4s;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}